---
version: '3.5'

services:
  dm-store:
    image: "${DM_STORE_USE_LOCAL-hmctspublic.azurecr.io/}dm/store:${DM_STORE_TAG:-latest}"
    healthcheck:
      disable: true
    environment:
      SERVER_PORT: 5005
      IDAM_SUPERUSER_EMAIL:
      IDAM_SECRET_KEY: AAAAAAAAAAAAAAAA
      GOV_NOTIFY_API_KEY:
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:6432/evidence
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "postgres"
      ENABLE_AZURE_STORAGE_CONTAINER: "true"
      ENABLE_POSTGRES_BLOB_STORAGE: "false"
      STORAGEACCOUNT_PRIMARY_CONNECTION_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage-emulator-azurite:10000/devstoreaccount1"
      STORAGE_CONTAINER_DOCUMENT_CONTAINER_NAME: "hmctstestcontainer"
      SPRING_PROFILES_ACTIVE: dev
      IDAM_TESTING_SUPPORT_ENABLED: "true"
      LOGGING_LEVEL_UK_GOV_HMCTS_IDAM: WARN
      IDAM_USER_BASE_URI: http://localhost:5000
      IDAM_S2S_BASE_URI: http://host.docker.internal:8489
      S2S_NAMES_WHITELIST: em_gw,em_ccd_orchestrator,ccd,document-management-store,ccd_gw,idam-api,em_stitching_api,ccd_data,dg_docassembly_api,xui_webapp,ccd_case_document_am_api,et_cos,et_msg_handler,et_sya_api
      http_proxy:
      https_proxy:
      no_proxy:
      REFORM_SERVICE_TYPE: java
      REFORM_SERVICE_NAME: document-management-store
      REFORM_TEAM: ccd
      REFORM_ENVIRONMENT: docker
      PACKAGES_ENVIRONMENT: docker
      PACKAGES_PROJECT: evidence
      PACKAGES_NAME: document-management-store
      PACKAGES_VERSION: unknown
      ENABLE_DB_MIGRATE: "true"
    ports:
      - "5005:5005"

  azure-storage-emulator-azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000"
    environment:
      executable: "blob"
    volumes:
      - ccd-docker-azure-blob-data:/opt/azurite/folder

  wiremock:
    container_name: wiremock
    image: wiremock/wiremock
    volumes:
      - ./mocks/wiremock:/home/wiremock:rw
    ports:
      - "8765:8080"
    command:
      - -global-response-templating

volumes:
  ccd-docker-azure-blob-data:

networks:
  default:
    name: cftlib_default
    external: true
