idam:
  s2s-auth:
    # noinspection SpringBootApplicationYaml
    url: http://localhost:4502 # used in ServiceAuthorisationApi
    totp_secret: AAAAAAAAAAAAAAAA
    microservice: et_cos
  api:
    url: http://localhost:5000
    jwkUrl: http://localhost:5000/o/jwks

spring:
  flyway:
    locations: classpath:db/migration,classpath:db/dev
  datasource:
    url: jdbc:postgresql://localhost:5050/et_cos

document_management:
  url: http://localhost:4506

ccd:
  data-store-api-url: http://localhost:4452

case_document_am:
  url: http://localhost:4455
  