name: Publish et-shared to Azure Artifacts

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  PublishToAzureArtifacts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Get version from tags
        id: get_version
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0 --match '1.0.*' || echo '1.0.0')
          NEXT_PATCH=$(echo "$LATEST_TAG" | awk -F. '{ print $3+1 }')
          NEXT_VERSION="1.0.${NEXT_PATCH}"
          echo "next_version=$NEXT_VERSION" >> $GITHUB_OUTPUT
          echo "Next version calculated: $NEXT_VERSION"
        shell: bash

      - name: Set Release Version
        id: set_release_version
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            BRANCH_NAME="$GITHUB_HEAD_REF"
            SAFE_BRANCH_NAME=$(echo "$BRANCH_NAME" | tr -cd 'A-Za-z0-9._-')
            if [ -z "$SAFE_BRANCH_NAME" ]; then
              SAFE_BRANCH_NAME="pr"
            fi
            if [[ "$BRANCH_NAME" == renovate/* ]]; then
              TRANSFORMED_BRANCH_NAME="${SAFE_BRANCH_NAME//\//-}"
            else
              TRANSFORMED_BRANCH_NAME="$SAFE_BRANCH_NAME"
            fi
            SHA=$(jq -r .pull_request.head.sha "$GITHUB_EVENT_PATH")
            RELEASE_VERSION="${TRANSFORMED_BRANCH_NAME}-${SHA:0:7}"
            echo "release_version=$RELEASE_VERSION" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" = "push" ]; then
            RELEASE_VERSION=${{ steps.get_version.outputs.next_version }}
            echo "release_version=$RELEASE_VERSION" >> $GITHUB_OUTPUT
            git tag "$RELEASE_VERSION"
            git push origin "$RELEASE_VERSION"
          fi
        shell: bash

      - name: Publish to Azure DevOps Artifacts
        run: |
          ./gradlew :et-shared:publish
        env:
          AZURE_DEVOPS_ARTIFACT_USERNAME: ${{ secrets.AZURE_DEVOPS_ARTIFACT_USERNAME }}
          AZURE_DEVOPS_ARTIFACT_TOKEN: ${{ secrets.AZURE_DEVOPS_ARTIFACT_TOKEN }}
          RELEASE_VERSION: ${{ steps.set_release_version.outputs.release_version }}
        shell: bash

      - name: Comment Release Version
        if: github.event_name == 'pull_request'
        run: |
          gh pr comment ${{ github.event.pull_request.number }} --body "Release version for latest commit is: ${{ steps.set_release_version.outputs.release_version }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
